[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
cookiecutter = "*"
bump2version = "*"
watchdog = "*"
flake8 = "*"
tox = "*"
coverage = "*"
twine = "*"
click = "*"
pytest = "*"
pytest-runner = "*"
Sphinx = "*"
pytest-sugar = "*"
pytest-pep8 = "*"
pytest-cov = "*"
pytest-timeout = "*"


[packages]

[requires]
python_version = "3.8"
